# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.auth.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\jwt\auth\.idea\.idea.auth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
